* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #0b1220;

    color: #f9fafb;

    font-family: 'Inter', sans-serif;

    padding: 25px;

}

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 40px;

}

.logo {

    font-size: 1.8rem;

    font-weight: 700;

}

.live-status {

    display: flex;

    align-items: center;

    gap: 10px;

    font-weight: 600;

}

.live-dot {

    width: 10px;

    height: 10px;

    border-radius: 50%;

    background: #10B981;

}

.hero {

    margin-bottom: 40px;

}

.hero h2 {

    color: #94A3B8;

    margin-bottom: 10px;

}

.hero h1 {

    font-size: 4rem;

    font-weight: 700;

    margin-bottom: 10px;

}

.hero p {

    color: #10B981;

    font-size: 1.2rem;

    font-weight: 600;

}

.main-grid {

    display: grid;

    grid-template-columns: 3fr 1fr;

    gap: 20px;

}

.card {

    background: #111827;

    border: 1px solid #1F2937;

    border-radius: 18px;

    padding: 24px;

    transition: 0.3s;

}

.card:hover {

    transform: translateY(-4px);

}

.chart-area .card {

    height: 100%;

}

.side-panel {

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.side-panel .card p {

    margin-top: 10px;

    font-size: 1.4rem;

    font-weight: 700;

}

.ai-section {

    margin-top: 25px;

}

.ai-section p {

    margin-top: 15px;

    line-height: 1.8;

}

canvas {

    width: 100% !important;

    max-height: 500px;

}

#signal {

    color: #10B981;

}

@media (max-width: 1000px) {

    .main-grid {

        grid-template-columns: 1fr;

    }

}

@media (max-width: 700px) {

    .hero h1 {

        font-size: 2.5rem;

    }

}